$govuk-error-colour: #d23a49;

@import "node_modules/govuk-frontend/all";
@import url("https://use.fontawesome.com/releases/v5.3.1/css/solid.css");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css");
@import "fonts";

// Overides
.govuk-header {
  background-color: #485b7f;

  &__link--homepage {
    margin-right: 1rem;
  }
}

.govuk-header__logotype-crown {
  width: 100%;
}

img {
  max-width: 100%;
}

// adjust code block font-size to 19px
.hljs {
  font-size: 19px;
  line-height: 25px;
}

.app-table--fixed {
  table-layout: fixed;
}

.app-\!-db {
  display: block !important;
}

.app-table--fixed {
  table-layout: fixed;
}

.app-\!-db {
  display: block !important;
}

.app-code {
  font-size: 16px;
  position: relative;
  margin: 0;
  padding: govuk-spacing(3);
  overflow: auto;
  border: 1px solid $govuk-border-colour;
  background-color: govuk-colour("grey-4");
  max-width: 38em;
  @include govuk-responsive-margin(5, "bottom");
}

.app-prose-scope {

  h1 {
    @extend %govuk-heading-xl;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  strong,
  b {
    @include govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }

  pre {
    @extend .app-code;
  }

  p code {
    border: 1px solid $govuk-border-colour;
    background-color: govuk-colour("grey-4");
    padding: 0 govuk-spacing(2);
  }

  // TODO: Blockquotes are likely the most semantic element to be using, update to use the inset component directly.
  blockquote {
    margin-left: 0;
    @extend .govuk-inset-text;
  }
}

.app-prose-scope ul + h2,
.app-prose-scope ul + h3,
.app-prose-scope ul + h4,
.app-prose-scope pre + h2,
.app-prose-scope pre + h3,
.app-prose-scope pre + h4 {
  @include govuk-responsive-margin(4, "top");
}

/// NEW

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.expand {
  width: 100%;
}

.bg-error {
  background-color: #b10e1e;
  color: white;
}

.align-top {
  vertical-align: top;
}

.no-margin {
  margin: 0;
}

.ck-logo {
  max-width: 100%;
  max-height: 10rem;
}

/* Override styles */
.govuk-header__container {
  margin-bottom: 10px !important;
  border-bottom: none !important;
}

.govuk-header__navigation-item--active a:link, .govuk-header__navigation-item--active a:hover, .govuk-header__navigation-item--active a:visited {
  color: #75d0c4 !important;
}

.govuk-button {
  background-color: #485b7f !important;
  box-shadow: 0 2px 0 #003618 !important;;
  -webkit-box-shadow: 0 2px 0 #003618 !important;;
}

.govuk-button:hover, .govuk-button:focus {
  background-color: #263146 !important;;
}
